
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


*{
	margin: 0;
	box-sizing: border-box;
}

.aboutContainer{
	display: flex;
	height: 90%;
	
}
.aboutCard{
	width: 50%;
	
}


.card {
	box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
	text-align: center;
	font-family: arial;
}
#buttonCard {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 10px;
	color: white;
	background-color: #222;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 23px;
}
.aCard {
	text-decoration: none;
	font-size: 25px;
	padding: 0 4px;
	color: #222;
}
#buttonCard:hover, .aCard:hover {
	opacity: 0.8;
	transition: all .65s ease;
}
.tableCard {
	margin: auto;
}
td{
	padding-bottom: .8em;
}
.tdLeft{
	text-align: left;
	padding-left: 1em;
}
.tdRight{
	text-align: right;
	padding-right: 1em;
}

#divImgCard {
	background-color: #222;
}

#about {
	padding: 4.5em;
	align-content: center;
}
#h4About {
	padding-top: .4em;
	color: #888;
	text-align: center;
	font-size: 15px;
}
#h2About {
	color: #111;
	text-align: center;
	font-size: 3.5em;
	padding-bottom: .6em;
	border-radius: 15px;
	border-bottom: 1px solid rgba(2, 4, 3, .2);
	box-shadow: 0 5px 8px -5px rgba(2, 4, 3, .2);
}
#principalAbout {
	padding-top: 2.3em;
	color: #222;
	text-align: center;
}
#secundaryAbout {
	color: #222;
	text-align: justify;
	padding-top: 1em;
}

#navbar {
	overflow: hidden;
	background-color: #333;
	margin: auto;
	height: 10%;
	z-index: 100;
}
/*#navbarSecundary {
	width: 70%;
	margin: auto;
}*/
#navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
	transition: all .65s ease;
	width: 20%;
	margin: auto;
}
#navbar a:hover {
	background-color: #ddd;
	color: black;
}
#navbar a.navbarActive {
	background-color: #4CAF50;
	color: white;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

/*.sticky + main {
	padding-top: 60px;
}*/
.col-md-7 {
	margin: -10px;
}
.col-md-5 {
	margin: -10px;

}


#divCard{
	padding: 2.4em 0;
}

header{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-width: 90vw;
	
}
.borderBottom{
	border-bottom: 5px solid #4CAF50;
}

.tabSlide{
	display: none;
	position: relative;
}
.xButton{
	position: absolute !important;
	top: .5em;
	right: .5em;
	background-color: tomato;
	color: #fff;
	width: 2em;
	padding: .5em 0;
	text-align: center;
	border-radius: 50%;
}
.tabContentContainer p{
	margin: 2.5em 4em;
}
.tabContentContainer h1 {
	text-align: center;
	margin-top: 1.3em;
}
.containerImg {
	padding-left: 4em;
}
.imgPortfolio {
	width: 25em;
	height: 20em;
}